* {
  font-family: "Lucida Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Conqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

h1,
h2,
h3 {
  margin: 5px;
  margin-top: 10px;
  color: white;
}

.mainButton {
  font-size: 3vw;
  background: black;
  border: none;
  outline-width: 0;
  color: white;
  margin: 10px;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid white;
  padding: 0.5vw;
}

.ring {
  position: absolute;
  background: black;
  z-index: 1;
}

.managerTitle {
  font-size: 1.5vw;
}

#app {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 13vh 87vh;
  overflow: hidden;
  background: black;
}

#title {
  grid-row: 1;
  grid-column: 1;
  background-color: black;
  border-right: 1px solid white;
  text-align: center;
  font-size: 2vw;
}

#mainButtons {
  display: flex;
  background: black;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}

#playButton {
  grid-row: 1;
  grid-column: 2;
}

#playButton:hover {
  color: green;
  border: 2px solid green;
}

#stopButton {
  grid-row: 1;
  grid-column: 2;
  display: none;
}

#stopButton:hover {
  color: red;
  border: 2px solid red;
}

#removeAll {
  grid-row: 1;
  grid-column: 3;
}

#removeAll:hover {
  color: orange;
  border: 2px solid orange;
}

#instructionsBtn {
  grid-row: 1 ;
  grid-column: 4;
}

#instructionsBtn:hover {
  color: yellow;
  border: 2px solid yellow;
}

#main {
  display: block;
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
  background: black;
  border-top: 1px solid white;
}

#manager {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  border-right: 1px solid white;
  border-top: 1px solid white;
  background: black;
  z-index: 2;
  padding: 1vw;
}

#manager div {
  margin: 2vh;
}

#scaleInput,
#preMadeSelect {
  font-size: 2vw;
  padding: 3px;
  width: 100%;
  height: fit-content;
  border-radius: 15px;
  outline-width: 0px;
}

#scaleNotes {
  font-size: 1.5vw;
  margin: 2vw;
}

#octave {
  font-size: 2vw;
  margin: 5px;
  border-radius: 15px;
  text-align: center;
}

#preMadeLoad {
  font-size: 2vw;
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

#preMadeLoad:hover {
  color: brown;
  border-color: brown;
}

#maxRings {
  font-size: 1.2vw;
  background-color: red;
  color: white;
  border-radius: 10px;
  display: none;
  width: fit-content;
  padding: 5px;
  z-index: 2;
  position: absolute;
}

#tempoInput {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  width: 90%;
  background-color: gold;
}

#instructionsPopup {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  z-index: 3;
}

#instructions {
  width: 60%;
  height: fit-content;
  color: black;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  text-align: center;
  padding: 1%;
  overflow: hidden;
}

#instructions h1 {
  font-size: 3vw;
  color: black;
}

#instructions p {
  font-size: 1.3vw;
}

#closeInstructions {
  font-size: 2vw;
  padding: 0.5vw;
  cursor: pointer;
  outline-width: none;
  border-radius: 30px;
  border: 2px solid black;
}

#closeInstructions:hover {
  color: blue;
}
